@charset "utf-8";
/* CSS Document */

.topheader
{
	background-color:#3B5998;
	height:100px;
	padding-top:10px;
	
}
.topheader img
{
	width:200px;
	height:60px;
	
}
.row{
	padding-top:20px;
	

}
.link{
	font-size:12px;
}
.terms {
	padding-top:5px;}
	
.button {
	padding-left:20px;
	width:10px;

